@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: "poppins";
}

body{
  margin: 0 auto;
}
.logo a{
  text-decoration: none;
  color: white;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #1491ea;
 
}
.nav{
  display: flex;
  
}
.nav  li{
  padding: 20px;
  text-decoration: none;
  list-style: none;
  
}
.nav a{
  text-decoration: none;
  color: white;
}

.btn{
  padding: 10px 15px;
  margin: 5px;
  border: 1px;
  border-radius: 7px;
  background-color:#64c8fa;
  color: white;
  cursor: pointer;
}
.foot-dis{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.foot-dis p{
  text-align: center;
}

.foot-container{
  display: flex;
  justify-content: space-between;
  background-color: #1491ea;
}
.foot-container div p{
  width: 300px;
}

.foot-container div{
  margin: 20px 30px;
}

.foot-nav li ,a{
  text-decoration:none;
  list-style: none;
  margin: 5px;
  color: white;
  line-height: 2.5rem;
}

.fa-brands{
  margin: 10px;
}
#logonav img{
  width: 100px;
  height: 100px;
}

#logofoot img{
  width: 150px;
  height:160px
}
.search-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  border-bottom:  1px solid black;
}
.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search label{
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 10px;
  font-size: 25px;
}
.search input{
  width: 60%;
  height: 5vh;
}

.search div{
  display: flex;
  align-items: start;
  justify-content: start;
}

.search select{
  height: 5vh;
}

.body{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}
.job-tag{
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 60%;
  margin: 15px;
}

.grid-item{
  width: 700px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-item button{
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  cursor: pointer;

}

.dis{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dis p{
  width: 80%;
  margin: 15px;
}

.dis button{
  padding: 10px;
  margin: 5px;
  margin-bottom: 50px;
  border: 1px solid black;
  cursor: pointer;

}

.btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.btn-wrapper-search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-left: 0;
}
.btn-search{
  font-weight: 500;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
