body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  #login {
    max-width: 500px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  #login label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #login input[type="text"],
  #login textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .h2 {
    color: #24252A;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 40px;

  }
  

  #login textarea {
    height: 100px;
  }
  
  #login small {
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #999;
  }
  
  /* Styles for the form inputs */
.form-box input[type="text"] {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .form-box input[type="submit"] {
    padding: 10px 20px;
    background-color: rgba(0, 136, 169, 1);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  
  /* Styles for the form submit button on hover */
  .form-box input[type="submit"]:hover {
    background-color: rgba(0,136,169,1);
  }
  
  